<div id="footer"><div>
	<% if !@item[:copyright].nil? %>
		<%=	if @item[:lang] == 'ru'
			'Содержимое данной страницы:'
		else
			'Content of this page:'
		end
		%> <%= @item[:copyright] %>.
	<% end %>
	<a href="<%= @items['/en/license/'].path %>"><%=
		if @item[:lang] == 'ru'
			'Условия использования'
		else
			'Terms of use'
		end
	%></a>.
	<%=	if @item[:lang] == 'ru'
		'Дизайн:'
	else
		'Design:'
	end %> Copyright &copy; 2014  Basil Peace
</div></div>